.container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estacionamento {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.caminho-rua {
  width: 20px;
  background-color: rgb(184, 184, 184);
}

.vaga {
  width: 30px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  border: 1px solid black;
}

/* cores das vagas */
.vaga[data-tem-carro="true"] {
  background-color: #9ef09e;
}

.vaga[data-tem-carro="false"] {
  background-color: #f19898;
}



  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app > *:not(.top-menu) {
    flex: 1;
    overflow-y: auto;
  }

  .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #e6e6e6;
    padding: 0 20px;
  }
  