.container {
  max-width: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bodyestacionameto{
  display: flex;
  flex-direction: row;
  border-collapse: separate;
  border-spacing: 2px;
  flex-wrap: wrap;
  justify-content: center;
}

  .vaga {
    border-radius: 30%;
    width: 48px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    color: rgb(107, 107, 107);
  }

  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app > *:not(.top-menu) {
    flex: 1;
    overflow-y: auto;
  }

  .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #e6e6e6;
    padding: 0 20px;
  }
  